<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vulfox"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <!-- Add these to your manifest to enable billing.    -->
<!--     <uses-permission android:name="com.android.vending.BILLING" /> -->
<!--         	<service android:name="BillingService" /> -->

<!--     	<receiver android:name="BillingReceiver"> -->
<!--       		<intent-filter> -->
<!--         		<action android:name="com.android.vending.billing.IN_APP_NOTIFY" /> -->
<!--         		<action android:name="com.android.vending.billing.RESPONSE_CODE" /> -->
<!--         		<action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" /> -->
<!--       		</intent-filter> -->
<!--     	</receiver> -->
</manifest>